I. Get tickers and data of component companies in S&P500

1. script list of component companies in S&P500 from 

Reference:   
http://www.thealgoengineer.com/2014/download_sp500_data/  
http://stackoverflow.com/questions/28174193/add-new-column-based-on-a-list-and-sort-date-by-newest/28210920#28210920

In [2]:
import pandas as pd
#from pandas.io.data import DataReader
from pandas import DataFrame
import requests
import requests_cache
requests_cache.install_cache('cache')
from bs4 import BeautifulSoup

In [3]:
response = requests.get('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
soup = BeautifulSoup(response.content, 'html.parser')
test = soup.find_all(rel="nofollow")
names=[string.next_element for string in test]
for name in names:
    if len(name)>4:
        names.remove(name)
names = names[:501]

In [6]:
from yahoo_finance import Share

In [ ]:
#def get_data(ticker):
#    stock = Share(ticker)
#    return {"company":ticker,"change":stock.get_change(), "date":stock.get_trade_datetime().split(" ")[0], "volume":stock.get_volume()}

In [ ]:
#3get_data('MMM')
#[get_data(ticker) for ticker in names]

In [7]:
MMM = Share("MMM")
pd.DataFrame(MMM.get_historical('2017-01-01', '2017-02-01'))

,Adj_Close,Close,Date,High,Low,Open,Symbol,Volume
0,174.036602,175.169998,2017-02-01,175.800003,174.300003,175.169998,MMM,2272900
1,173.688876,174.820007,2017-01-31,175.460007,173.809998,174.740005,MMM,1845500
2,174.284985,175.419998,2017-01-30,177.729996,174.869995,177.25,MMM,1823100
3,176.331653,177.479996,2017-01-27,177.979996,176.830002,177.479996,MMM,1623700
4,175.675935,176.820007,2017-01-26,177.229996,176.039993,176.309998,MMM,2235900
5,175.586506,176.729996,2017-01-25,178.630005,176.570007,177.089996,MMM,3462600
6,174.831429,175.970001,2017-01-24,177.759995,174.419998,177.50,MMM,3473200
7,177.354988,178.509995,2017-01-23,178.990005,177.130005,177.910004,MMM,1986800
8,177.335128,178.490005,2017-01-20,179.460007,177.830002,179.199997,MMM,1761900
9,177.523886,178.679993,2017-01-19,179.800003,177.759995,179.25,MMM,1464400
10,177.335128,178.490005,2017-01-18,179.440002,177.380005,177.899994,MMM,1804600
11,176.113076,177.259995,2017-01-17,177.679993,176.25,177.00,MMM,1557500
12,176.242239,177.389999,2017-01-13,177.910004,176.830002,177.580002,MMM,1265500
13,176.291919,177.440002,2017-01-12,177.699997,175.75,176.970001,MMM,1321800
14,176.739004,177.889999,2017-01-11,178.449997,176.389999,176.630005,MMM,1579600
15,175.437483,176.580002,2017-01-10,177.490005,176.309998,177.360001,MMM,2030100
16,176.123021,177.270004,2017-01-09,178.380005,177.199997,178.369995,MMM,1617800
17,177.076801,178.229996,2017-01-06,178.600006,175.800003,177.289993,MMM,1625000
18,176.560176,177.710007,2017-01-05,179.139999,176.889999,178.259995,MMM,1447800
19,177.16623,178.320007,2017-01-04,178.899994,177.610001,178.029999,MMM,1542000
20,176.897973,178.050003,2017-01-03,180.00,177.220001,178.830002,MMM,2509300